body {
    margin: 0;
    padding: 0;
}

.website-name {
    position: absolute;
    align-items: center;
    text-align: center;
    top: 1px;
    left: 0;
    font-size: 30px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-family: 'Martian Mono', monospace;
    margin-top: 0;
    padding: 0;
}

.header {
    display: flex;
    background-color: rgb(173, 173, 173);
    width: auto;
    height: 120px;
    margin: 0;
    padding: 0;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.input {
    width: 500px;
    height: 30px;
    border-radius: 8px;
    border: 1px solid black;
    margin: 10px;
}

.button {
  width: 50px;
  height: 30px;
  border-radius: 8px;
  border: 1px solid black;
  margin: 10px;
  cursor: pointer;
}

.nav-button {
  background: none;
  border: none;
  margin: 10px;
  font-size: 25px;
  font-family: 'Courier New', Courier, monospace;
  cursor: pointer;
}

.user-icon-top {
    width: 32px;
    height: 32px;
    margin-left: 20px;
    margin-right: 12px;
    
}

.heart-icon-top {
    width: 32px;
    height: 32px;
    margin-left: 12px;
    margin-right: 12px;
    
}

.shopping-bag-icon-top {
    width: 32px;
    height: 32px;
    margin-left: 12px;
    margin-right: 12px;
}

.product-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.product-container {
  text-align: center;
  display: flex; 
}

.product-card {
  flex: 1; 
  width: 310px;
  height: 425px;
  /* border: 2px solid blue; */
  box-shadow: 2px 2px 2px 2px rgb(226, 225, 225);
  border-radius: 6px;
  margin: 10px;   
}

.hoodie {
  width: 310px;
  height: 425px;
}



.product-card {
  position: relative;
  overflow: hidden;
}

.card-title {
  position: absolute;
  bottom: -30px;
  left: 0;
  right: 0;
  background-color: #21212154;
  text-align: center;
  padding: 5px;
  transform: translateY(0);
  transition: transform 0.3s ease;
  opacity: 0;
  z-index: 2;
}

.heart-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 2;
}

.product-card:hover .card-title {
  transform: translateY(-30px);
  opacity: 1;
}







.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
  height: 120px;
  background-color: rgb(173, 173, 173);
  padding: 0 20px;
  margin-top: auto;
}

.footer-items-container {
  display: flex;
  flex: 1; 
  justify-content: space-between; 
}

.footer-item { /*Сделать адаптивный размер букв*/
  flex-grow: 1;
  text-align: center;
  color: black;
  font-size: 30px;
  font-family: Calibri;
  margin: 0;

  cursor: pointer;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.footer-item:focus,
.footer-item:hover {
  color: #0084ff;
}






